<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Sprint length" %>
    <%= f.number_field :sprint_weeks, :in => 1..2 %>
	(weeks)
  </div>
  <div class="field">
    <%= f.label "Admins" %>
    <%= f.text_field :owners %>
	(login IDs of who can edit/delete the team)
  </div>
  <div class="field">
    <%= f.label :is_archived %>
    <%= f.check_box :is_archived %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => 'button large green' %>
  </div>
<% end %>
