<h1><%= @team.name %><%= @team.is_archived ? " (archived)" : "" -%></h1>

<p><%= @team.name %> uses <strong><%= @team.sprint_weeks %> week</strong> sprints.</p>
<% if @team.owners != nil && @team.owners != "" -%>
<p>Admin(s): <%= @team.owners %></p>
<% end -%>

<% if is_username_an_owner_of_team?(current_user.login, @team) -%>
	<%= link_to "edit #{@team.name}", edit_team_path(@team) %> |
<% end -%>
<%= link_to "back to teams", teams_path %>

<% if @summary_sprint != nil %>
<%= render "teams/summarycharts" %>
<% end %>

<h2>sprints</h2>
<p>Tip: teams are ordered by name with the most recent at top of the list below. Name your sprints to fit alphabetically in the list.</p>
<% if is_username_an_owner_of_team?(current_user.login, @team) -%>
<p><%= link_to "add a sprint", new_team_sprint_path(@team), :class => "button"  %></p>
<% end -%>
<%= render "teams/sprintlist" %>
