<p id="notice"><%= notice %></p>
<h1><%= @team.name %></h1>

<p><%= @team.name %> uses <strong><%= @team.sprint_weeks %> week</strong> sprints.</p>

<%= link_to "edit #{@team.name}", edit_team_path(@team) %> |
<%= link_to "back to teams", teams_path %>

<% if @summary_sprint != nil %>
<%= render "teams/summarycharts" %>
<% end %>

<h2>sprints</h2>
<%= render "teams/sprintlist" %>
<p><%= link_to "add a sprint", new_team_sprint_path(@team), :class => "button"  %></p>
