<h1><%= @sprint.team.name %> | <%= @sprint.sprint_name %></h1>
<%= render 'form' %>
<%= link_to "back to #{@sprint.team.name}", team_path(@team) %> | 
<%= link_to "back to #{@sprint.sprint_name}", [@sprint.team, @sprint] %>
