<h1><%= @sprint.team.name %> | <%= @sprint.sprint_name %></h1>

<% if is_username_an_owner_of_team?(current_user.login, @sprint.team) -%>
	<%= link_to "edit sprint #{@sprint.sprint_name}", edit_team_sprint_path(@sprint.team, @sprint) %> |
<% end -%>
<%= link_to "back to the #{@sprint.team.name} team", team_path(@sprint.team) %>

<div class="clear"></div>
<% if sprint_is_complete?(@sprint) %>
<div class="column">
<h2>Summary</h2>
<%= render "sprints/summary" %>
</div>
<% end %>

<div class="column">
<h2>Sprint Info</h2>
<table>
<tbody>
<tr>
<td>End date</td>
<td><%= @sprint.end_date %></td>
</tr>

<tr>
<td>Team size</td>
<td class="alignNumber"><%= @sprint.team_size %></td>
</tr>

<tr>
<td>Working days</td>
<td class="alignNumber"><%= @sprint.working_days %></td>
</tr>

<tr>
<td>PTO/OOO days</td>
<td class="alignNumber"><%= @sprint.pto_days %></td>
</tr>

<tr>
<td>Effective team size</td>
<td class="alignNumber"><%= effective_team_size(@sprint) %></td>
</tr>
</tbody>
</table>
</div>

<div class="column">
<h2>Actuals</h2>
<table>
<tbody>
<tr>
<td>Planned velocity</td>
<td class="alignNumber"><%= @sprint.planned_velocity %></td>
</tr>

<tr>
<td>Actual velocity</td>
<td class="alignNumber"><%= @sprint.actual_velocity %></td>
</tr>

<tr>
<td>Adopted points</td>
<td class="alignNumber"><%= @sprint.adopted_points %></td>
</tr>

<tr>
<td>Unplanned points</td>
<td class="alignNumber"><%= @sprint.unplanned_points %></td>
</tr>

<tr>
<td>Found points</td>
<td class="alignNumber"><%= @sprint.found_points %></td>
</tr>

<tr>
<td>Partial points</td>
<td class="alignNumber"><%= @sprint.partial_points %></td>
</tr>
</tbody>
</table>
</div>

<div class="column">
<h2>Tests</h2>
<table>
<tbody>
<tr>
<td>Code coverage</td>
<td class="alignNumber"><%= !@sprint.code_coverage.blank? ? "%s%%" % @sprint.code_coverage : "0%"  %></td>
</tr>

<tr>
<td>Manual Tests</td>
<td class="alignNumber"><%= @sprint.nr_manual_tests %></td>
</tr>

<tr>
<td>Automated Tests</td>
<td class="alignNumber"><%= @sprint.nr_automated_tests %></td>
</tr>
</tbody>
</table>
</div>

<div class="clear"></div>

<% if @sprint.note != nil && !@sprint.note.blank? %>
<h2>Notes</h2>
<p><%= @sprint.note %>
<% end %>
