<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :login %>
    <%= f.text_field :login, :class => "leftAlign" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "leftAlign" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field">
	<div class="indentField">
    	<%= f.check_box :remember_me %>
    	<%= f.label :remember_me %>
	</div>
  </div>
  <% end -%>

  <div class="actions"><%= f.submit "Sign in", :class => "button" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
